/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/

.scChromeData,
.scpm {
  display: none !important;
}

/* 
  Style for default content block
*/

a[target='_blank']:after {
  content: '\1F5D7'
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}