/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/

.scChromeData,
.scpm {
  display: none !important;
}

/* 
  Style for default content block
*/

a[target='_blank']:after {
  content: '\1F5D7'
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loader__wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.021);
}

.event__card {
  transition: .5s;
  border-color: #0703265d !important;
}

.event__card:hover {
  transition: .5s;
  border-color: #110958 !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25) !important;
}


/* .search__form */
.search__form {
  border: 2px solid #110958;
  border-radius: 30px;
  font-size: 20px;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.search__form button,
.search__form input {
  border: none;
  outline: none;
  padding: 4px 10px;
  background: transparent;
}

.search__form button {
  background: #110958;
  color: #fff;
  width: 80px;
  text-align: center;
}