/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --pmColor: #110958;
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/

.scChromeData,
.scpm {
  display: none !important;
}

/* 
  Style for default content block
*/

a[target='_blank']:after {
  content: '\1F5D7'
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loader__wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.021);
}

.event__card {
  transition: .5s;
  border-color: #0703265d !important;
}

.event__card:hover {
  transition: .5s;
  border-color: var(--pmColor) !important;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25) !important;
}


/* .search__form */
.search__form {
  border: 2px solid var(--pmColor);
  border-radius: 30px;
  font-size: 20px;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.search__form button,
.search__form input {
  border: none;
  outline: none;
  padding: 4px 10px;
  background: transparent;
}

.search__form button {
  background: var(--pmColor);
  color: #fff;
  width: 80px;
  text-align: center;
}

/* Events */
.event__pagination {
  margin: 40px auto 30px;
}

.event__pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 0;
}


.event__pagination li a {
  display: block;
  background: #e9e9e9;
  color: #000 !important;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  padding: 0 5px;
  border-radius: 50%;
  font-weight: 600;

}

.event__pagination li.next a,
.event__pagination li.previous a {
  width: 80px;
  height: 20px;
  border-radius: 5px;
  background: #fff;
  color: #000;
}

.event__pagination li.disabled a {
  opacity: .4;
}

.event__pagination li.selected a {
  background: var(--pmColor);
  color: #fff !important;
}